services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "YourStrong!Passw0rd"
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -C -S localhost -U sa -P 'YourStrong!Passw0rd' -Q 'SELECT 1' >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 40s

  redis:
    image: redis:alpine
    container_name: rediscache
    ports:
      - "6379:6379"

  teladoc.api:
    image: teladoc-api:local
    build:
      context: .
      dockerfile: teladoc.api/Dockerfile
    container_name: teladoc.api
    depends_on:
      sqlserver:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__SqlServer: "Server=sqlserver,1433;Database=UsersDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;"
      Redis__ConnectionString: "redis:6379"
    ports:
      - "5000:8080"
